<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.showertime">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".VolleySingleton"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".BathroomDetailsActivity" android:parentActivityName=".GroupsBathroom">
        </activity>
        <activity android:name=".GroupsBathroom" android:parentActivityName=".GroupDetailsActivity">
        </activity>
        <activity android:name=".CreateBathroom" android:parentActivityName=".GroupDetailsActivity">
        </activity>
        <activity android:name=".GroupDetailsActivity" android:parentActivityName=".MyGroups">
        </activity>
        <activity android:name=".MyGroups" android:parentActivityName=".LoggedinMenu">
        </activity>
        <activity android:name=".CreateGroup" android:parentActivityName=".LoggedinMenu">
        </activity>
        <activity android:name=".JoinGroup" android:parentActivityName=".LoggedinMenu">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Login" android:parentActivityName=".MainActivity"/>
        <activity android:name=".Signin" android:parentActivityName=".MainActivity"/>
        <activity android:name=".LoggedinMenu"/>
    </application>

</manifest>